<h1>Shopping Cart</h1>
<div class="row col-10" *ngIf="cart$ | async as cart">
  <p>
    You have {{cart.shoppingCartItemsCount}} items in your cart.<button *ngIf="cart.items.length" (click)="emptyCart()"
      class="btn btn-ligth btn-small">Empty
      shopping cart</button>
  </p>
  <table class="table">
    <thead>
      <tr>
        <th class="thumb-col"></th>
        <th class="prod-col">Product</th>
        <th class="qty-col text-center">Quantity</th>
        <th class="price-col text-right">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.items">
        <td>
          <div [style.backgroundImage]="'url('+item.imageUrl+')'" class="thumgnail"></div>
        </td>
        <td>{{item.title}}</td>
        <td>
          <app-product-quantity [product]="item" [shoppingCart]="cart"></app-product-quantity>
        </td>
        <td class="text-right">{{item.totalPrice | currency:'USD':'symbol':'1.2-2'}}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-right">{{cart.totalCartValue | currency:'USD':'symbol':'1.2-2'}}</th>
      </tr>
    </tfoot>
  </table>
  <div class="row">
    <a *ngIf="cart.items.length" routerLink="/check-out" class="btn btn-primary">Check Out</a>
  </div>

</div>